html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  background-color: #0f5f1c;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.start {
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,.5);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  width: 400px;
  padding: 20px 40px;
  z-index: 10;
}
.start:hover {
  cursor: pointer;
  background-color: red;
}
.hidden {
  display: none;
}
.car, .enemy {
  background: transparent url(img/car.png) center / cover no-repeat;
  width: 50px;
  height: 100px;
  position: absolute;
  left: 125px;
  bottom: 20px;
}

.gameArea {
  width: 300px;
  height: 100vh;
  position: relative;
  margin: auto;
  
  overflow: hidden;
}
.line {
  position: absolute;
  height: 50px;
  width: 10px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%)
}
